 <link rel="stylesheet" href="home.component.css">
<!-- <h1  class=" text-center  text-danger fw-bold">Welcome to Raktabandan 🩸</h1>
<p class="text-center">Connecting blood donors with receivers across Nepal</p> -->
 
<div class="intro-container">
    <h1 class="intro-title">Welcome to Raktabandan</h1>
    <p class="intro-description">Your Trusted Blood Donation Platform</p>
    <p class="intro-text">Be a hero. Save a life. Raktabandan connects generous blood donors with those in need, ensuring a safe and easy way to contribute to your community. Whether you’re donating or seeking blood, we’re here to help make a real difference. Join the movement today!</p>
    <br>
    <a href="#join" class="cta-button">Join Now</a>
  </div>
  
